.case-detail__page_template .page-header__spacer {
    display: none;
}

.case-detail__page_template .page-header__content,
.case-detail-header__tombstone {
    justify-content: flex-start;
}

.case-detail-header__badges {
    gap: var(--goa-space-xs);
}

.case-detail__page_template > .case-detail__page_content {
    max-width: 100%;
    overflow: hidden;
    padding: var(--goa-space-m) var(--goa-space-xl) var(--goa-space-m) var(--goa-space-xl);
}

.case-detail_form_double,
.case-detail-header__badges,
.case-detail-header__tombstone,
.case-detail-header__id,
.case-detail__page_template .page-header,
.case-detail__page_template .data-card_info,
.case-detail__page_template .page-header__content,
.case-detail__page_template .data-card__value {
    display: flex;
    flex-wrap: wrap;
}

.case-detail-header__badges,
.case-detail-header__tombstone,
.case-detail-header__id,
.case-detail__page_template .data-card__value,
.case-detail__page_template .page-header {
    align-items: center;
}

.case-detail-header__id,
.case-detail__page_template .data-card__value {
    min-height: 36px;
}

.case-detail__page_template .page-header__content,
.case-detail-header__tombstone,
.case-detail_form_double,
.case-detail__page_template .data-card_info,
.case-detail__page_template .page-header {
    gap: var(--goa-space-m);
}

.case-detail__page_template .page-header {
    justify-content: space-between;
}

.case-detail__page_template .page-header .page-header__actions {
    justify-content: center;
}

.case-detail__page_template .page-header .page-header__toolbar {
    flex: initial;
    justify-items: flex-end;
}

.case-detail_form_double,
.case-detail__page_template .data-card_info,
.case-detail__page_template .page-header__toolbar--expanded {
    margin: 0;
}

.case-detail__page_template .page-header--collapsed.page-header--with-toolbar .page-header__title-container goa-text,
.case-detail__page_template .page-header--collapsed.page-header--with-toolbar .page-header__actions,
.case-detail__page_template .page-header--collapsed.page-header--with-toolbar .page-header__tabs {
    display: block;
}

.case-detail__page_template .data-card {
    display: grid;
    gap: var(--goa-space-xl);
    max-width: 800px;
}

.case-detail__page_template .data-card_info {
    gap: var(--goa-space-2xs);
    flex-direction: column;
}

.case-detail__page_empty_state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--goa-space-2xl) var(--goa-space-m);
    height: 70vh;
    text-align: center;
}

.case-detail__page_empty_state > img {
    width: 200px;
    height: 200px;
    margin-bottom: var(--goa-space-l);
}


@media (max-width: 855px) {
    .case-detail_form_double {
        flex-direction: column;
        gap: 0;
    }
    
    .case-detail_form_double > * {
        width: 100%;
    }

    .case-detail__page_template .data-card {
        grid-template-columns: 1fr !important;
        gap: var(--goa-space-l);
    }
}

@media (max-width: 623px) {
    .case-detail__page_template > .case-detail__page_content {
        padding: var(--goa-space-m);
    }

    .page-header--collapsed.page-header--with-toolbar .page-header__content {
        flex-shrink: initial;
    } 
}