.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--goa-space-3xl) var(--goa-space-m);
  background-color: var(--goa-color-greyscale-white, #ffffff);
  text-align: center;
}

.empty-state__illustration {
  width: 100px;
  height: auto;
  margin-bottom: var(--goa-space-xl);
}

.empty-state__heading {
  font: var(--goa-typography-heading-2xs);
  color: var(--goa-color-text-secondary);
  margin-bottom: 16px;
}

.empty-state__subline {
  font: var(--goa-typography-body-s);
  color: var(--goa-color-greyscale-500);
  margin-bottom: var(--goa-space-xl);
}
